<h2>Mairie de Montréal</h2>
<table>
<% maires ||= @maires %>
<% maires.each do |maire| %>
  <tr><td><%=maire.prenom%> <%=maire.nom%></td><td class="numeric"><%=maire.nb_voix_obtenues%></td><td class="numeric"><%=maire.pourcentage%>%</td></tr>
<% end %>
</table>

