<% arrondissement ||= @arrondissement %>
<h2><%=arrondissement.nom%></h2>
<table>
<% arrondissement.mairie.candidats.each do |candidat| %>
  <tr><td><%=candidat.prenom%> <%=candidat.nom%></td><td class="numeric"><%=candidat.nb_voix_obtenues%></td></tr>
<% end %>
</table>

