<table>
  <tr>
    <td id="mayor"></td>
    <td id="poste"></td>
  </tr>
  <tr>
    <td id="leads"></td>
    <td id="random"></td>
  </tr>
</table>

<div id="countdown">Next refresh: <span id="countdown_secs"/> seconds</div>
<button onclick="reload_all()">Refresh</button>

