<table>
  <tr>
    <td id="mayor"></td>
    <td id="poste"></td>
  </tr>
  <tr>
    <td id="leads"></td>
    <td id="random"></td>
  </tr>
</table>
<div id="sommaire"></div>

<div id="countdown">Prochaine <a href="#" onclick="reload_all(); return false">mise à jour</a>: <span id="countdown_secs"/></div>

