<table>
  <tr>
    <td>
      <%=render :partial => "mayor/results" %>
    </td>
    <td>
      <%=render :partial => "borough/results" %>
    </td>
  </tr>
  <tr>
    <td>
      <%=render :partial => "lead/results" %>
    </td>
    <td>
      <%=render :partial => "borough/results" %>
    </td>
  </tr>
</table>
