<table>
  <tr>
    <td id="mayor">
    </td>
    <td id="borough">
    </td>
  </tr>
  <tr>
    <td id="leads">
      <%=render :partial => "lead/results" %>
    </td>
    <td id="random">
    </td>
  </tr>
</table>

<div id="countdown">Next refresh: <span id="countdown_secs"/> seconds</div>
<button onclick="reload_all()">Refresh</button>

