  <script type="text/javascript">
    var countdown = refresh_secs = 60;
    var rotate_secs = 10;
    var should_reload_all = false;
    function initialize() {
      reload_all();
      setInterval( "tick()", 1000 );
      setInterval( "rotate()", rotate_secs * 1000);
      update_countdown();
    }
    function reload_partially() {
      $.ajax({
        type: 'GET',
        url: '/sommaire',
        data: '',
        success: function(data){eval(data);}
      });

      //remote_function(:update => "sommaire", :url => "/sommaire", :method => :get)
      //remote_function(:update => "mayor", :url => "/mayor/results", :method => :get)
      //remote_function(:update => "poste", :url => "/poste?arrondissement_id=default", :method => :get)
      //remote_function(:update => "random", :url => "/poste", :method => :get)
      //remote_function(:update => "leads", :url => "/lead/results", :method => :get)
    }
    function reload_all() {
      reload_partially();
      countdown = refresh_secs;
      update_countdown();
    }
    function rotate() {
      if (should_reload_all) {
        reload_all();
        should_reload_all = false;
      } else {
        reload_partially();
      }
    }
    function tick() {
      countdown--;
      if (countdown == 0) {
        should_reload_all = true;
      }
      update_countdown();
    }
    function update_countdown() {
      //$('countdown_secs').update(should_reload_all ? "maintenant..." : "" + countdown + "s");
    }
  </script>
  
<table>
  <tr>
    <td id="mayor"></td>
    <td id="poste"></td>
  </tr>
  <tr>
    <td id="leads"></td>
    <td id="random"></td>
  </tr>
</table>
<div id="sommaire"></div>

<span id="countdown"></span>

