table {
  width: 100%;
}
h2 {
  border-bottom: 2px solid #99F;
}
td {
  vertical-align: top;
}
td.numeric {
  text-align: right;
}
#mayor {
  width: 50%;
}
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
.arr_district, .district {
  font-size: 10px;
  font-style: italic;
}
