table {
  width: 100%;
}
h2 {
  border-bottom: 2px solid #99F;
  font-size: 16px;
}
h3 {
  font-size: 11px;
}
td {
  vertical-align: top;
}
td.numeric {
  text-align: right;
}
#mayor {
  width: 50%;
}
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
}
.arr_district, .district {
  font-size: 10px;
  font-style: italic;
}
th {
  font-size: 10px;
}
.participation {
  font-size: 10px;
}
hr {
  height: 0;
  border: 0;
  border-bottom: 1px solid #DDD;
}
