<html>
<head>
  <title>Résultats Élection</title>
  <link rel="stylesheet" type="text/css" href="/assets/application.css"/>
  <%= javascript_include_tag "jquery" %>
</head>
<body>
  <body onload="if (typeof(initialize) != 'undefined') initialize()">
<%=yield%>

</html>
