<html>
<head>
  <title>Résultats Élection</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css"/>
  <%= javascript_include_tag "prototype" %>
</head>
<body>
<%=yield%>
</body>

</html>
